@font-face {
    font-family: lato;
    src: url('../fonts/lato-bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: gilroy;
    src: url('../fonts/gilroy-extrabold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url('../fonts/raleway-thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url('../fonts/raleway-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: raleway;
    src: url('../fonts/raleway-bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: timenewroman;
    src: url('../fonts/tnr-italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: timenewroman;
    src: url('../fonts/tnr-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: opensans;
    src: url('../fonts/opensans-light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: opensans;
    src: url('../fonts/opensans.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: storytella;
    src: url('../fonts/Storytella.otf');
    font-weight: 400;
    font-style: normal;
}

header {
    width: 1600px;
    min-height: 1631px;
    background-image: url(../img/topfon.jpg);
    margin: 0 auto;
}

.logomenu {
    display: flex;
    align-items: center;
    padding: 0 215px 0 215px;
}

.logomenu-logo {
    width: 100px;
    min-height: 130px;
    background-color: #fcdb5a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logomenu-logo:hover {
    background-color: #ccaf8a;
}

.logomenu-logo:active {
    background-color: #fcdb5a;
}

.logomenu-logo a {
    text-decoration: none;
}

.logomenu-logo-txt {
    font-family: Lato;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #4f4a37;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}

.logomenu-menu {
    width: 404px;
    display: flex;
    justify-content: space-between;
    margin: 35px 444px 0 69px;
}

.logomenu-menu-item {
    font-family: opensans;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    display: block;
    text-transform: capitalize;
}

.logomenu-menu-item:hover {
    color: #fcdb5a;
}

.logomenu-menu-item:active {
    color: #ccaf8a;
}

.logomenu-menu-item:after {
    content: "";
    display: block;
    align-items: center;
    width: 0%;
    height: 2px;
    margin: 39px 0 0 0;
    background-color: #fcdb5a;
    transition: width 0.2s ease-in-out;
}

.logomenu-menu-item:hover:after {
    content: "";
    display: block;
    align-items: center;
    width: 100%;
    height: 2px;
    margin: 39px 0 0 0;
    background-color: #fcdb5a;
}

.logomenu-menu-item:active:after {
    background-color: #ccaf8a;
}

.logomenu-button {
    width: 153px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 22.5px;
    border: none;
    outline: none;
    font-family: raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1b1b1b;
}

.logomenu-button:hover {
    background-color: #ccaf8a;
    color: #4f4a37;
    border: 2px solid #fcdb5a;
}

.logomenu-button:active {
    background-color: #4f4a37;
    color: #fcdb5a;
    border: 2px solid #fcdb5a;
}

.header-content {
    font-family: storytella;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    line-height: 200px;
    color: #ffffff;
    width: 521px;
    margin: 170px 0 0 0;
    padding: 0 215px 0 215px;
}

.header-pic {
    width: 1380px;
    min-height: 679px;
    margin: 187px auto;
    display: grid;
    grid-template-columns: 380px 384px 116px 500px;
    grid-template-rows: 310px 369px;
}

.header-pic-item1 {
    background-image: url(../img/pic1.jpg);
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}

.header-pic-position {
    position: relative;
}

.header-pic-item-txts {
    position: absolute;
    bottom: 29px;
    left: 29px;
}

.header-pic-item-txt1 {
    font-family: raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 0 0;
}

.header-pic-item-txt2 {
    font-family: raleway;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 0 0;
}

.header-pic-item-yellow-txts {
    position: absolute;
    bottom: 155px;
    left: 89px;
}

.header-pic-item-yellow-txt1 {
    font-family: raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #fcdb5a;
    margin: 0 0 0 0;
}

.header-pic-item-yellow-txt2 {
    font-family: raleway;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #fcdb5a;
    margin: 0 0 0 0;
}

.header-pic-item2 {
    background-image: url(../img/pic2.jpg);
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 4;
}

.header-pic-item3 {
    background-image: url(../img/pic3.jpg);
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 5;
}

.header-pic-item4 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
}

.header-pic-item5 {
    background-image: url(../img/pic4.jpg);
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 5;
}

.services {
    width: 1600px;
    min-height: 1162px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.services-preview {
    width: 100%;
    min-height: 729px;
    padding: 42px 222px 0 216px;
    position: relative;
}

.services-preview-item1 {
    position: absolute;
    width: 719px;
    min-height: 492px;
    background-image: url(../img/serv1.jpg);
    top: 78px;
}

.services-preview-item2 {
    position: absolute;
    width: 329px;
    min-height: 492px;
    background-image: url(../img/serv2.jpg);
    left: 619px;
}

.services-preview-item3 {
    position: absolute;
    width: 514px;
    min-height: 424px;
    font-family: storytella;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    line-height: 100px;
    color: #fcdb5a;
    right: 222px;
    top: 86px;
}

.services-preview-item3-purple {
    color: #db2985;
}

.services-preview-item3-green {
    color: #72aa41;
}

.services-preview-item3-orange {
    color: #f2a137;
}

.services-preview-item3-blue {
    color: #4fb1c9;
}

.services-agrofood {
    width: 1600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-agrofood h2 {
    width: 100%;
    box-sizing: border-box;
    font-family: raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #333333;
    margin: 0;
    text-align: center;
}

.services-agrofood-h2-last {
    width: 100%;
    font-family: raleway;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #333333;
}

.services-agrofood-txt {
    width: 34%;
    font-family: opensans;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: #b3b3b3;
    text-align: center;
}

.services-agrofood-items {
    width: 1087px;
    margin-top: 95px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-agrofood-item {
    width: 16.66%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.services-agrofood-item:hover {
    outline: 3px solid #fcdb5a;
}

.services-agrofood-item p {
    width: 100%;
    font-family: raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #333333;
    margin: 31px 0 0 0;
    text-align: center;
}

.services-agrofood-item:last-child {
    margin: 0;
}

.services-agrofood-item1-svg {
    fill: #ff6262;
}

.services-agrofood-item2-svg {
    fill: #4fb1c9;
}

.services-agrofood-item3-svg {
    fill: #ffc243;
}

.services-agrofood-item4-svg {
    fill: #8eaa41;
}

.services-agrofood-item5-svg {
    fill: #f2374d;
}

.services-agrofood-item6-svg {
    fill: #4b811b;
}

.perfect {
    width: 1600px;
    min-height: 1166px;
    background-color: #f9f9f9;
    background-image: url(../img/perf.jpg);
    background-repeat: no-repeat;
    margin: 136px auto 0;
    padding: 140px 0 0 0;
}

.perfect-preview {
    padding: 0 0 0 213px;
}

.perfect-preview-hdr1 {
    display: block;
    font-family: raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
}

.perfect-preview-hdr2 {
    display: block;
    font-family: raleway;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
}

.perfect-preview-txt {
    display: block;
    width: 529px;
    font-family: opensans;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    color: #c5c5c5;
    margin: 36px 0 48px 0;
}

.perfect-preview-btn {
    width: 159px;
    height: 54px;
    border: none;
    outline: none;
    background-color: #fcdb5a;
    border: 3.0px solid #fcdb5a;
    border-radius: 25.5px;
    font-family: raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #4f4a37;
}

.perfect-preview-btn:hover {
    background-color: #4f4a37;
    color: #fcdb5a;
}

.perfect-preview-btn:active {
    background-color: #fcdb5a;
    color: #4f4a37;
}

.perfect-img {
    display: grid;
    grid-template-columns: repeat(4, 292px);
    grid-template-rows: repeat(2, 221px);
    margin: 108px 0 0 213px;
}

.perfect-img-item1 {
    background-image: url(../img/perf_img1.jpg);
}

.perfect-img-item2 {
    background-color: #fff;
    padding: 47px 32px 0 43px;
}

.perfect-img-item2 span {
    display: block;
    font-family: raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.perfect-img-item2 p {
    font-family: opensans;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    color: #666666;
}

.perfect-img-item3 {
    background-image: url(../img/perf_img3.jpg);
}

.perfect-img-item6 {
    background-image: url(../img/perf_img6.jpg);
}

.perfect-img-item8 {
    background-image: url(../img/perf_img8.jpg);
}

.cakes {
    width: 1600px;
    min-height: 684px;
    background-image: url(../img/fon_cakes.jpg);
    margin: 0 auto;
    position: relative;
}

.cakes-txt {
    width: 432px;
    font-family: storytella;
    font-weight: 400;
    font-style: normal;
    font-size: 230px;
    line-height: 180px;
    color: #ccaf8a;
    padding: 163px 0 0 224px;
}

.cakes-pic {
    position: absolute;
    left: 65%;
    top: 4%;
}

.progress {
    width: 1170px;
    margin: 0 auto;
    padding: 150px 0 150px 0;
    text-align: center;
}

.progress-hdr1 {
    font-family: raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #333333;
}

.progress-hdr2 {
    font-family: raleway;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #333333;
}

.progress-txt {
    width: 46%;
    font-family: opensans;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: #b3b3b3;
    margin: 25px auto 80px auto;
}

.progress-icons {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.progress-icons-item {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
}

.progress-icons-item-img {
    grid-row-start: 1;
    grid-row-end: 3;
}

.progress-icons-item-num {
    font-family: gilroy;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #2e211d;
    text-align: start;
}

.progress-icons-item-txt {
    font-family: raleway;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 50px;
    color: #555555;
    text-align: start;
}